name: Bash Set

on:
  push:
    # TODO: Remove 1-bash-set
    branches: [main, 1-bash-set]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: set -e
        run: |
          # no effect since GitHub Actions adds '/usr/bin/bash -e'
          # should exit the script if any command returns a non-zero status
          # without this, exit code will be 0 because of the last command
          set -e
          mkdir existing_folder
          ls -l existing_folder
          ls -l missing_folder
          ls -l existing_folder
