name: Data Masking

on:
  push:
    branches: [main, 3-data-masking]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: add-mask
        id: add-mask
        run: |
          data='hello world'
          # should mask the data (both env var and echo output)
          echo ::add-mask::$data
          echo ::set-output name=data::$data
      - name: Display data
        env:
          DATA: ${{ steps.add-mask.outputs.data }}
        run: echo ${{ env.DATA }}
      - name: Test masking by variable naming
        run: |
          password='hello world'
          echo $password
          token='hello world'
          echo $token
          key='hello world'
          echo $key
